<ion-header>
  <ion-toolbar>
    <ion-title>Znajomi</ion-title>
    <ion-buttons>
      <ion-button (click)="dismissModal()">Powrót</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>Miedziany Tomasz</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>Żelazny Gracjan</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="person-outline" slot="start"></ion-icon>
    <ion-label>Molibdenowy Mateusz</ion-label>
  </ion-item>
</ion-content>