ion-list-header {
    font-size: 1.3rem;
    padding-left: 0%;
    padding-top: 0%;
}

ion-card-header {
    padding-left: 0%;
}

.rank_subtitle {
    font-size: 1rem;
    padding-left: 6%;
    padding-bottom: 0%;
}

.profile_name {
    font-size: 1.5rem;
}

ion-item {
    font-weight: bold;
}

.progress_bar_card {
    padding-bottom: 10%;
}

// .progress_bar_label {
//     padding-left: 10%;
//     padding-right: 10%;
// }

// .level_text { 
//     text-align: center;
//     font-size: 1.5rem;
//     padding-bottom: 10%;
// }

.profile_avatar {
    width:  100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
}

.friends_list {
    padding-bottom: 5%;
}

.achievements_list {
    padding-bottom: 5%;
}

.user_settings ion-label {
    text-align: left;
    padding-left: 4%;
}