<ion-header>
  <ion-toolbar>
    <ion-title>Osiągnięcia</ion-title>
    <ion-buttons>
      <ion-button (click)="dismissModal()">Powrót</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="trophy-outline" slot="start"></ion-icon>
    <ion-label>Zdobądź 1000 punktów</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="trophy-outline" slot="start"></ion-icon>
    <ion-label>Przejdź 1000 kroków</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="trophy-outline" slot="start"></ion-icon>
    <ion-label>Posadź 100 drzew!</ion-label>
  </ion-item>
</ion-content>