
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="map">
    <agm-map
            [latitude]="latitude"
            [longitude]="longitude"
            [zoom]="20">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>
  </div>
</ion-content>