
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="map">
    <agm-map #map id="map"
            [latitude]="latitude"
            [longitude]="longitude"
            [zoom]="20"
            (mapClick) = "getDirection($event)">
            <agm-marker *ngIf="destination == null" [latitude]="latitude" [longitude]="longitude"></agm-marker>
            
            <agm-direction 
            (onChange) = "getDistance($event)"
            travelMode="TRANSIT"
            [origin]="origin" 
            [destination]="destination">
          </agm-direction>
  </agm-map>
  </div>
</ion-content>