<ion-content>
  <div class="loginbox">
    <h1>Zaloguj się</h1>
    <ion-item>
      <ion-label position="floating">Nazwa użytkownika</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Hasło</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input> 
    </ion-item>
    
    <div class="button-container">
      <ion-button color="success" (click)="onSubmit()">Zaloguj się</ion-button>
    </div>
  
    <h2>Nie masz konta? Zarejestruj się!</h2>
    <div class="button-container">
      <ion-button color="success" (click)="btnClick()">Zarejestruj się</ion-button>
    </div>
  </div>
</ion-content>
